<!DOCTYPE html>
<html lang="en">
<head>
    <title>🔮 Churn Prediction</title>
</head>
<body>
    <h1>🔮 Churn Prediction</h1>
    <form method="POST">
        <label>Age:</label>
        <input type="number" name="age" required>
        <br>

        <label>Gender:</label>
        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <br>

       <label for="subscription_type">Subscription Type:</label>
        <select id="subscription_type" name="subscription_type">
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
        <option value="trial">Trial</option>
        </select>
        <br>

        <label>Price:</label>
        <input type="number" step="0.01" name="price" required>
        <br>

        <label>Billing Cycle:</label>
        <input type="number" name="billing_cycle" required>
        <br>

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
        <h3>Probability: {{ probability }}</h3>
    {% endif %}

    <br>
    <a href="/dashboard">📊 Go to Dashboard</a>
</body>
</html>
